@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsla: 0, 0%, 100%, 1;
  --background-start-hsla: 0, 0%, 5%, 1;
  --background-end-hsla: 0, 0%, 7%, 1;
  --background-indoor-hsla: 0, 0%, 12%, 1;
}

*{
  padding: 0;
  margin: 0;
}

body {
  color: hsla(var(--foreground-hsla));
  background: linear-gradient(
      130deg,
      hsla(var(--background-start-hsla)),
      hsla(var(--background-end-hsla))
    ),
    hsla(var(--background-indoor-hsla));
}
