@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsla: 0, 0%, 100%, 1;
  --background-start-hsla: 235.5, 100%, 8%, 1;
  --background-end-hsla: 210.845, 100%, 28%, 1;
  --background-indoor-hsla: 0, 0%, 12%, 1;
}

body {
  color: hsla(var(--foreground-hsla));
  background: linear-gradient(
      130deg,
      hsla(var(--background-start-hsla)),
      hsla(var(--background-end-hsla))
    ),
    hsla(var(--background-indoor-hsla));
}
