@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hsla: 0, 0%, 100%, 1;
  --background-start-hsla: 227, 87%, 12%, 0.46;
  --background-end-hsla: 227, 80%, 35%, 0.10;
  --background-indoor-hsla: 0, 0%, 12%, 1;
}

body {
  color: hsla(var(--foreground-hsla));
  background: linear-gradient(
      130deg,
      hsla(var(--background-start-hsla)),
      hsla(var(--background-end-hsla))
    ),
    hsla(var(--background-indoor-hsla));
}
